<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>{{ SITENAME }}</title>

</head>
<body>

    <main>
        <h1>{{ SITENAME }}</h1>

      {%- if dates %}

        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {%- for article in dates %}
              <tr>
                <td><a href="{{ article.url }}">{{ article.title }}</a></td>
                <td>{{ article.date.strftime('%Y-%m-%d') }}</td>
              </tr>
            {%- endfor  %}
          </tbody>
        </table>
      {%- endif  %}

      {%- if pages  %}

        <h2>Pages</h2>
        <table>
            <thead>
                <tr><th>Title</th></tr>
            </thead>
            <tbody>
              {%- for page in pages %}
                <tr><td><a href="{{ page.url }}">{{ page.title }}</a></td></tr>
              {%- endfor  %}
            </tbody>
        </table>
      {%- endif  %}
    </main>

</body>
</html>
